*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;

}

body,
html {
    margin: 0;
    padding: 0;
}


.parallax {
  
    background-image: url("../../assets/imagens/imagensProdutos/sheepHandling.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 386px;
  }
 
.custom-link {
    text-decoration: none;
    font: 0.9em 'Roboto', sans-serif;
    color: rgb(84, 84, 84);
}
.custom-link:hover {
    text-decoration: none;
    color: rgb(84, 84, 84);
}