*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-top: 10rem;

}

body,
html {
    margin: 0;
    padding: 0;
}


.parallax {
    background-image: url("../../assets/imagens/imagensProdutos/sheepHandling.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175%;
    height: 386px;
    margin-right: 6rem;
    margin-left: 6rem;
    overflow: hidden;
}
.parallax2 {
    background-image: url("../../assets/imagens/imagensProdutos/sheepFeeding.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175%;
    height: 386px;
    margin-right: 6rem;
    margin-left: 6rem;
    overflow: hidden;
}
.parallax3 {
    background-image: url("../../assets/imagens/imagensProdutos/sheepHurdles.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175%;
    height: 386px;
    margin-right: 6rem;
    margin-left: 6rem;
    overflow: hidden;
}
.parallax4 {
    background-image: url("../../assets/imagens/imagensProdutos/fieldGates.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175%;
    height: 386px;
    margin-right: 6rem;
    margin-left: 6rem;
    overflow: hidden;
}

.custom-weight-text {
    font-weight: 1000;
}

.custom-link {
    text-decoration: none;
    font: 0.9em 'Roboto', sans-serif;
    color: rgb(84, 84, 84);
}
.custom-link:hover {
    text-decoration: none;
    color: rgb(84, 84, 84);
}

.cards_index {
    margin-right: 8rem;
    margin-left: 8rem;
}

.animar {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 2s ease, transform 2s ease;
}

.features {
    margin-bottom: 13rem;
}