.containerProductInf {
    text-decoration: none;
    background-color: rgb(86, 86, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}

.containerProductInf img {
    width: 980px;
}

.nav-product {
    background-color: rgb(178, 178, 178);
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.informations {
    background-color: rgb(178, 178, 178);

}

.contactProduct {
    background-color: rgb(138, 130, 130);
}